.createBtn{
  margin-left: 10%;
  margin-bottom: 10px;
  width: 120px;
  background-color: blue;
  color: white;
  font-weight: bold;
  height: 40px;
}
.filterTableDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.createBtn:hover{
  background-color:antiquewhite;
  color: blue;
  cursor: pointer;
}
.darkRow{
  background-color:#eee;
}
.plus{
  font-size: 1.4em;
  margin-right: 5px;
  margin-top: 1px;
}
.sortableHeader:hover{
  cursor:pointer;
}
.tableFixHead {
    overflow-y: auto;
    height: 500px;
    width: 89%;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    padding: 8px 16px;
    border: 1px solid blue;
  }
  td{
    text-align: center;
  }
  th {
    background: darkgrey;
  }
  tr{
    height: 40px;

  }
  tr:hover{
    background-color:rgb(219, 213, 213);
    color: blue;

  }