.statsDash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dashStats{
    display: flex;
    flex-direction: row;
}
.indivStat{
    justify-content: center;
    text-align: center;
    align-items: center;
}